@import '~@/less/variable.less';
.advisory {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 150px + 67px;
  overflow: hidden;
  position: relative;
  section {
    width: 100%;
    height: 150px;
    background: url('../images/home_banner2.png') no-repeat center/contain;
  }
  .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    & > h3 {
      position: absolute;
      font-size: 10px;
      font-weight: bold;
      &:nth-child(1) {
        top: 50px;
        left: 50px;
      }
    }
  }
}
