.sto {
  .sto_banner {
    background: url('../images/sto_banner1.jpg') no-repeat;
    background-size: 100% 100%;
    color: #fff;
    font-size: 14px;
    padding: 20px;
    h1 {
      margin: 5px 0 0;
    }
    h1,
    h2 {
      font-size: 14px;
      color: #fff;
      text-align: center;
      word-break: break-word;
    }
    h2 {
      margin: 20px 0;
    }
    p {
      font-family: Inter;
      font-size: 10px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: var(--white);
    }
  }
}
