.home {
  .banner {
    padding-top: 27px;
    height: 180px;
    background: url('../images/home_banner1.png') no-repeat center center/cover;
    h2,
    h3 {
      text-align: center;
    }
    h2 {
      font-size: 14px;
      font-weight: 600;
      color: #373737;
    }
    h3 {
      color: #544837;
      font-size: 10px;
    }
    div {
      margin: 0 auto;
      margin-top: 20px;
      text-align: center;
      width: 80px;
      height: 20px;
      line-height: 20px;
      border-radius: 2px;
      border: solid 0.5px #000000;
      font-size: 8px;
      color: #373737;
    }
  }
  .highcosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 580px;
    background: url('../images/highcosts_bg.svg') no-repeat center bottom;
    background-size: 100% auto;

    font-family: 'Inter', 'Noto Sans', 'Noto Sans JP', 'Noto Sans KR',
      'Noto Naskh Arabic', 'Noto Sans Thai', 'Noto Sans Hebrew',
      'Noto Sans Bengali', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: @color3;
    margin: 0 auto;
    overflow: hidden;

    h2 {
      margin: 90px 0 64px 0;
    }

    ul {
      width: 1100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    li {
      width: 239px;
      padding-top: 93px;
      background: no-repeat 0 0;
      background-size: 70px 70px;

      &:nth-child(1) {
        background-image: url(../images/icon-building.png);
      }

      &:nth-child(2) {
        background-image: url(../images/icon-hand.png);
      }

      &:nth-child(3) {
        background-image: url(../images/icon-operation.png);
      }

      &:nth-child(4) {
        background-image: url(../images/icon-dollar.png);
      }
    }

    h3 {
      color: @color3;
      font-size: 22px;
      line-height: 1.2;
      margin-bottom: 20px;
    }

    p {
      color: @color2;
      font-size: 16px;
      line-height: 1.67;
      margin-top: 20px;
    }
  }
  .values {
    height: 340px + 270px;
    background-color: #f77;
  }
  .why {
    height: 653px;
  }
  .advisory {
    height: 150px + 67px;
    background-color: #f77;
  }
  .products {
    height: 525px + 116px;
  }
  .partners {
    height: 378px;
    background-color: #f77;
  }
}
