@color1: #373737;
@color2: #544837;
@color3: #2f281e;
.home {
  .banner {
    padding-top: 27px;
    height: 180px;
    background: url('../images/home_banner1.png') no-repeat center center/cover;
    h2,
    h3 {
      text-align: center;
    }
    h2 {
      font-size: 14px;
      font-weight: 600;
      color: #373737;
    }
    h3 {
      color: #544837;
      font-size: 10px;
    }
    div {
      margin: 0 auto;
      margin-top: 20px;
      text-align: center;
      width: 80px;
      height: 20px;
      line-height: 20px;
      border-radius: 2px;
      border: solid 0.5px #000000;
      font-size: 8px;
      color: #373737;
    }
  }
  .highcosts,
  .why {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    // height: 580px;
    // background: url('../images/highcosts_bg.svg') no-repeat center bottom;
    background-size: 100% auto;

    font-family: 'Inter', 'Noto Sans', 'Noto Sans JP', 'Noto Sans KR',
      'Noto Naskh Arabic', 'Noto Sans Thai', 'Noto Sans Hebrew',
      'Noto Sans Bengali', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: @color3;
    margin: 0 auto;
    overflow: hidden;

    h2 {
      margin: 20px 0 50px 0;
      color: #202020;
      font-size: 14px;
    }

    ul {
      width: 270px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      padding-bottom: 30px;
    }

    li {
      width: 100%;
      background: no-repeat 0 0;
      background-size: 38px 38px;
      display: flex;
      justify-content: flex-start;
      flex-flow: column nowrap;
      padding-left: 58px;
      margin-top: 50px;
      &:nth-child(1) {
        background-image: url(../images/icon-building.png);
        margin-top: 0;
      }

      &:nth-child(2) {
        background-image: url(../images/icon-hand.png);
      }

      &:nth-child(3) {
        background-image: url(../images/icon-operation.png);
      }

      &:nth-child(4) {
        background-image: url(../images/icon-dollar.png);
      }
    }

    h3 {
      color: @color3;
      line-height: 1.2;
      font-size: 14px;
      margin-bottom: 10px;
    }

    p {
      color: @color2;
      font-size: 14px;
      // line-height: 1.67;
      // margin-top: 20px;
    }
  }
  .values {
    position: relative;
    padding-top: 20px;
    padding-bottom: 30px;
    background: -webkit-linear-gradient(bottom, #fff, #f1d6b0 40%, #f1d6b0);
    // .bg {
    //   position: absolute;
    //   width: 100%;
    //   height: 340px;
    //   top: 0;
    //   left: 0;
    //   background-image: linear-gradient(
    //     to bottom,
    //     #f09819,
    //     rgba(255, 88, 88, 0)
    //   );
    //   opacity: 0.3;
    // }
    .box {
      margin: 20px;
      border-radius: 14px;
      box-shadow: 0 1px 27px 0 rgba(0, 0, 0, 0.1);
      background-color: var(--white);
      padding: 20px 5px;
      background-color: #fff;
    }

    // opacity: 0.3;
  }

  .why {
    // height: 653px;
    background-color: #fffaf0;
    margin-bottom: 30px;
    li {
      margin-top: 20px;
      &:nth-child(1) {
        margin-top: 0px;
        background-image: url(../images/icon-people.png);
      }

      &:nth-child(2) {
        background-image: url(../images/icon-future.png);
      }

      &:nth-child(3) {
        background-image: url(../images/icon-security.png);
      }

      &:nth-child(4) {
        background-image: url(../images/icon-invest.png);
      }
    }
  }
  .advisory {
    margin-bottom: 50px;
  }
  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: url(../images/bg-products.svg) no-repeat right 180px;
    background-position: 72px 120px;
    background-size: 600px auto;
    h2 {
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      color: #202020;
      margin-bottom: 20px;
    }

    .tabs {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 280px;
      border: 1px solid #ef570c;
      border-radius: 3px;
    }

    a {
      flex: 1;
      padding: 10px 6px;
      padding-left: 16px;
      height: 55px;
      line-height: 1.25;
      text-align: center;
      font-size: 12px;
      color: #ef570c;
      display: flex;
      align-items: center;
      border-radius: 3px;
      word-break: keep-all;
    }

    a:nth-child(1) {
      background: #ef570c;
      color: #fff;
    }

    h4 {
      color: @color2;
      width: 280px;
      margin: 30px 0 20px 0;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      color: #373737;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 280px;
      margin-bottom: 50px;
    }

    li {
      width: 100%;
      // height: 586px;
      padding: 10px;
      padding-left: 66px;
      border-radius: 14px;
      background: #fff;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      background: url(../images/icon-sto.png) #fff no-repeat;
      background-position: 10px 10px;
      background-size: auto 40px;
      margin-bottom: 20px;
      &:nth-child(1) {
        background-image: url(../images/icon-sto.png);
      }

      &:nth-child(2) {
        background-image: url(../images/icon-token.png);
      }

      &:nth-child(3) {
        background-image: url(../images/icon-list.png);
        margin-bottom: 0;
      }
    }

    h5 {
      font-size: 14px;
      font-weight: bold;
      // line-height: 38px;
      // height: 38px;
      text-align: left;
      margin-bottom: 10px;
      color: #373737;
    }

    p {
      // width: 260px;
      color: #544837;
      font-size: 14px;
      margin: 0 auto;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    article {
      display: none;
    }
  }

  .invest {
    a:nth-child(1) {
      background: #fff;
      color: #ef570c;
    }
  
    a:nth-child(2) {
      background: #ef570c;
      color: #fff;
    }
  
    h4,
    ul {
      display: none;
    }
  
    article {
      width: 280px;
      padding: 10px 10px 17.5px;
      border-radius: 14px;
      box-shadow: 0 1px 27px 0 rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 30px;
      margin-bottom: 50px;
  
      img {
        display: block;
        width: 200px;
        margin: 0 auto;
      }
      a {
        display: block;
        padding: 0 !important;
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 12px;
        text-align: center;
        font-weight: 600px;
        background-color: #5da7f7 !important;
        border: 0;
        margin: 20px auto;
      }
    }
  }
  .partners {
    h2 {
      width: 280px;
      margin: 0 auto;
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 600;
      color: #202020;
    }
    ul {
      width: 280px;
      margin: 0 auto;
      padding-bottom: 50px;
      li {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        img {
          width: 120px;
          height: 40px;
          &:first-child {
            margin-right: 20px;
          }
        }
      }
    }
  }
}
