@import './theme.less';
@import './variable.less';
@import './font.less';

ul {
  list-style  : none;
  padding-left: 0;
}

* {
  font-family: 'Inter', 'Noto Sans', 'Noto Sans JP', 'Noto Sans KR',
    'Noto Naskh Arabic', 'Noto Sans Thai', 'Noto Sans Hebrew',
    'Noto Sans Bengali', sans-serif;
  -webkit-font-smoothing: antialiased;
}

HTML,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
blockquote,
pre,
form,
fieldset,
table,
th,
td {
  margin : 0px;
  padding: 0px;
}