.WHO {
  .WHO_banner {
    background: url('../images/who_we_are_banner1.png') no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: 150px;
    text-align: center;
    color: #fff;
    line-height: 150px;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 600;
  }
  .WHO_article {
    background: -webkit-linear-gradient(bottom, #fff, #f1d6b0 40%, #f1d6b0);
    padding: 30px 20px;
    p {
      font-size: 12px;
      word-break: break-word;
    }
  }
  .WHO_box {
    margin: 20px;
    border-radius: 14px;
    box-shadow: 0 1px 27px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    padding: 20px 5px;
  }
}
