.dialog {
  width: 100%;
  background: #ffffff;
  border-radius: 10px 10px 0px 0px;
  max-height: calc(100vh - 84px);
  overflow: hidden;
  &-title {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    color: #333333;
    font-weight: 600;
    position: relative;

    &-close {
      position: absolute;
      top: 2px;
      right: 14px;
      line-height: 50px;
      color: #d8d8d8;
    }
  }
  &-content {
    max-height: calc(100vh - 84px - 50px);
    min-height: 40vh;
    overflow-y: scroll;
  }
}
